@model CheckPoint.Models.PlatformModel.PlatformDetail

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4>Platform Details</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.PlatformId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>

        <dd>
            @{
                string releaseDate = Model.ReleaseYear.ToString("d");
            }
            @Html.DisplayFor(modelItem => releaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageStarRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageStarRating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
