@model CheckPoint.Models.GameModels.GameDetail

@{
    ViewBag.Title = "Details";
}

<h2 style="text-shadow: 2px 2px 2px #000000 !important;">@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal" style="font-size: large; text-shadow: 2px 2px 2px #000000 !important;
">
        <dt>
            @Html.DisplayNameFor(model => model.GameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlatTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
                @{
                    string releaseDate = Model.ReleaseDate.ToString("d");
                }
                @Html.DisplayFor(modelItem => releaseDate)
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageStarRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageStarRating)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<div>

    <div class=" col-md-12 " style="font-size:x-large; position: center;">
        <h2 style="margin-bottom: 1em;">
        @Html.DisplayNameFor(model => model.AllGameReviews)
        </h2>

    </div>
    @foreach (var review in Model.AllGameReviews)
    {

        <div class="review-box col-md-6" style=" margin-bottom: 1em;">

            <div class=" review-title col-md-12" style="font-size: large; font-weight: 700; color: #df691A; ">
                @Html.DisplayFor(modelitem => review.Title)
            </div>
            <div class="review-content col-md-12" style="color: #4cff00 ">
                @Html.DisplayFor(modelitem => review.StarRating)
            </div>
            <div class="review-content col-md-12">
                @Html.DisplayFor(modelitem => review.Content)
            </div>

            <div class="review-content col-md-12">
                @Html.DisplayFor(modelitem => review.CreatedUtc)
            </div>

        </div>

    }
</div>
    <br />
    <style>
        .review-content {
            font-size: medium;
            text-shadow: 2px 2px 2px #000000 !important;
        }

        .review-box {
            margin-left: 1em;
        }

        .review-title {
            background-color: #4e5d6c;
            padding: .5em;
            letter-spacing: 1px;
            text-shadow: 2px 2px 2px #000000 !important;
        }
    </style>
