@model IEnumerable<CheckPoint.Models.GameModels.GameListItem>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-shadow: 2px 2px 2px #000000 !important;">Games Library</h2>


<h4 class="Create" style="text-shadow: 2px 2px 2px #000000 !important;">
@Html.ActionLink("Create New", "Create", new { @class = "create-new" })
</h4>
<h5>Welcome to The Checkpoint Games Library. Here you can Create, Edit</h5>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<div class="main-body">
    @foreach (var item in Model)
    {
        <div class="col-md-3 card" style="text-shadow: 2px 2px 2px #000000 !important; ">
            <div class="card-body">
                <div class="card-image">
                    <img src="/Game/RetrieveImage/@item.GameId" alt="" height=300 width=275 />
                </div>
                <div class="card-text">

                    <div class="card-title col-md-10" style="font-size: large">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div class="card-rating col-md-2" style="font-size: large">
                        @Html.DisplayFor(modelItem => item.ESRB)
                    </div>
                </div>
            </div>

            <div class="card-drop">
                <a href="#" class=" col-md-3 btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Edit", "Edit", new { id = item.GameId })
                    </li>
                    <li>
                        @Html.ActionLink("Details", "Details", new { id = item.GameId })
                    </li>
                    <li>
                        @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
                    </li>
                </ul>
                
                <div class="col-md-4 review-sink"><a class="review-link" href="/Review/CreateWithDefault?gameId=@item.GameId">Review</a></div>
            </div>
        </div>
    }
</div>
<style>
    .main-body {
    }

    .card {
        padding: 0 0 1px 0;
        margin: 2em;
        /* border: 1px solid white;*/
        min-height: 410px !important;
    }

    .card-body {
        border: 5px solid #df691a;
        border-radius: 5px 0;
        background-color: #4e5d6c;
        width: 285px;
        min-height: 390px !important;
        max-height: 390px !important;
        color: #ebebeb;
    }

    .card-text {
        padding: 5px;
    }

    .card-title {
    }

    .card-image {
    }

    .card-rating {
        background-color: rgba(54, 63, 73, 0.91);
        /*  margin: 0 -4px;
        padding: 5px;*/
        color: #df691a;
        /*margin-right: .6em;*/
        float: right;
        font-weight: 700;
        font-size: large !important;
        text-align: center;
        position: inherit;
        border-radius: 10%;
    }

    .review-sink {
        color: #ebebeb !important;
        padding: 9px 0px;
        margin: 0;
    }

    .review-link {
        background-color: #4e5d6c;
        color: #ebebeb !important;
        padding: .7em 1em;
    }

        .review-link:hover {
            text-decoration: none;
         /*   background-color: rgba(164, 117, 51, 0.92);*/
            background-color: rgba(202, 97, 26, 0.76);
        }
</style>
