@model IEnumerable<CheckPoint.Models.GameModels.GameListItem>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-shadow: 2px 2px 2px #000000 !important;">Games Library</h2>


<p class="Create" style="text-shadow: 2px 2px 2px #000000 !important;">
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<div class="main-body"> </div>
@foreach (var item in Model)
{
    <div class="col-md-3 card" style="text-shadow: 2px 2px 2px #000000 !important; ">
        <div class="card-body">
            <div class="card-image">
                <img src="/Game/RetrieveImage/@item.GameId" alt="" height=300 width=275 />
            </div>
            <div class="card-text">

                <div class="card-title " style="font-size: large">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div class="card-rating" style="font-size: large">
                    @Html.DisplayFor(modelItem => item.ESRB)
                </div>
            </div>
        </div>

        <div class="card-drop">
            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GameId })
                </li>
                <li>
                    @Html.ActionLink("Details", "Details", new { id = item.GameId })
                </li>
                <li>
                    @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
                </li>
            </ul>

        <button href="~/Views/Review/Create.cshtml" class=" btn btn-success" style="color: #ebebeb">Review</button>
        </div>
    </div>

}
<style>
    .main-body {
        margin-top: 1em;
    }
    .card {
        padding: 0 0 1px 0;
        margin: 2em;
        /* border: 1px solid white;*/
        min-height: 410px !important;
    }

    .card-body {
        border: 5px solid #df691a;
        border-radius: 5px 0;
        background-color: #4e5d6c;
        width: 285px;
        min-height: 390px !important;
        max-height: 390px !important;
        color: #ebebeb;
    }
    .card-text {
        padding: 5px;
    }
    .card-title {
    }

    .card-image {
     
    }

    .card-rating {
    }

    .card-drop {
    }
    .review-btn {
        background-color:#4e5d6c;
    }
</style>
